<div dir="ltr">
  <div
    style="width: 100%; padding: 24px 0 24px 0; background-color: #fafafa; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <div
      style="width: 90%; max-width: 680px; min-width: 280px; border: 1px solid #dddddd; background-color: #ffffff; box-shadow: 0 4px 8px rgba(192, 192, 192, 0.9); margin: auto;">
      <div style="color: #505050; font-size: 13px; padding: 24px;">
        <div
          style="border-bottom: 1px solid #dddddd; margin-bottom: 32px; padding-bottom: 8px;font-size: 30px; line-height: 34px;">
          КП «Славутич-водоканал»</div>
        <dl>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Особовий рахунок</dt>
          <dd style="margin: 4px 4px 16px 4px;">12400400340</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Прізвище та ім'я</dt>
          <dd style="margin: 4px 4px 16px 4px;">Семака Ігор</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Адреса</dt>
          <dd style="margin: 4px 4px 16px 4px;">Тбіліський 4/34</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Номер телефону</dt>
          <dd style="margin: 4px 4px 16px 4px;">0997031525</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Кухня (холодна)</dt>
          <dd style="margin: 4px 4px 16px 4px;">214</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Кухня (гаряча)</dt>
          <dd style="margin: 4px 4px 16px 4px;">242</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Ванна (холодна)</dt>
          <dd style="margin: 4px 4px 16px 4px;">642</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Ванна (гаряча)</dt>
          <dd style="margin: 4px 4px 16px 4px;">349</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Туалет (холодна)</dt>
          <dd style="margin: 4px 4px 16px 4px;">365</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">За який місяць</dt>
          <dd style="margin: 4px 4px 16px 4px;"> Вересень</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Дата заповнення форми</dt>
          <dd style="margin: 4px 4px 16px 4px;">Четвер, 01 жовтня 2020</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Site Name</dt>
          <dd style="margin: 4px 4px 16px 4px;">КП «Славутич-водоканал»</dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Contact Page URL</dt>
          <dd style="margin: 4px 4px 16px 4px;"><a href='https://vodaslav.com.ua/lichylnyky/nadannya-pokaznykiv'>Надати
              показники</a></dd>
          <dt style="background-color: #eeeeee; padding: 4px; font-weight: bold;">Client IP address</dt>
          <dd style="margin: 4px 4px 16px 4px;">194.177.25.192</dd>
        </dl>
        <div
          style="border-top: 1px solid #dddddd; margin-top: 32px; padding-top: 8px; font-size: 12px; font-style: italic; color: #707070;">
          © КП «Славутич-водоканал»</div>
      </div>
    </div>
  </div>
</div>